body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    color: black;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#iframe-container {
    margin-top: 20px;
}

iframe {
    width: 90%;
    height: 500px;
    border: 1px solid #ccc;
}
